<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reservjava_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--
FINE_LOCATION 정확한 위치에 접근할 수 있는 권한
        COARSE_LOCATION 대략적인 위치에 접근할 수 있는 권한
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 권한, 통신, 프로바이더, 서비스 등 모든 것 -->
    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReservJAVA_app"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.a_login_signup.PwSearchActivity"></activity>
        <activity android:name=".ui.a_login_signup.IdSearchActivity" />
        <activity android:name=".ui.a_login_signup.LogPwSearchActivity" />
        <activity android:name=".ui.a_login_signup.JoinActivity" />
        <activity android:name=".ui.d_bongsun.PaymentActivity" />
        <activity android:name=".ui.d_bongsun.MemberCancelActivity" />
        <activity android:name=".ui.d_bongsun.BookingViewActivity" />
        <activity android:name=".reservation.Reservation" />
        <activity android:name=".reservation.Store" />
        <activity android:name=".ui.a_login_signup.LoginActivity" />
        <activity android:name=".ui.a_login_signup.FinishActivity" />
        <activity android:name=".category.Exercise" />
        <activity android:name=".category.Accommodation" />
        <activity android:name=".category.Hospital" />
        <activity android:name=".ui.b_where.SearchActivity" /> <!-- https가 아니라 http로 오더라도 그냥 허가하는 부분 -->
        <activity android:name=".ui.b_where.WhereListActivity" />
        <activity android:name=".ui.f_profile.ProfileActivity" />
        <activity android:name=".ui.f_profile.ReviewActivity" />
        <activity android:name=".ui.f_profile.ModProfileActivity" /> <!-- http 라이브러리 사용 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 네이버 맵 사용 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="evbl7x2447" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>